.Rproj.user
.Rhistory
.RData
.Ruserdata

.ipynb_checkpoints
__pycache__
sample_data
sample_train_on_fif.py
read_egg.py
rcaplot.py
rca.py
RCA_testing.ipynb
MirRevAdapt_TFR_Preprocessing.ipynb
MirRevAdapt_TFR_PerturbationConds.ipynb
MirRevAdapt_TF_LRP.ipynb
MirRevAdapt_TF.ipynb
MirRevAdapt_SplitErrorConditions_TrialNumbers.ipynb
MirRevAdapt_SplitConditions_FRN.ipynb
MirRevAdapt_SplitConditions_ERP.ipynb
MirRevAdapt_SmallLargeConditions_TFR_Old.ipynb
MirRevAdapt_Preprocessing_FRN.ipynb
MirRevAdapt_P3_Across_Learning.ipynb
MirRevAdapt_LRP_Across_Learning.ipynb
MirRevAdapt_ICA.ipynb
MirRevAdapt_EarlyLateConditions_TFR_Statistics_Parietal.ipynb
MirRevAdapt_EarlyLateConditions_TFR_Statistics_Frontal.ipynb
MirRevAdapt_EarlyLateConditions_TFR_Statistics_Central.ipynb
MirRevAdapt_EarlyLateConditions_TFR_Statistics_AllROI.ipynb